.information {
	width: 100%;
	background-color: white;
	position: relative;
	min-height: 500px;
	margin: 0 0;
}

.information__panels-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
	margin: 0 auto;
	padding-top: 20px;
}

.information__panel {
	min-height: 300px;
	width: 40%;
	background-color: #c6cccc;
	border: 2px solid black;
	border-radius: 1px;
	text-align: left;
}

.information__panel-text {
	padding: 5px 5px;
}
