@import 'variables';

body {
	margin: 0 0;
	padding: 0 0;
	background-color: white;
	font-family: $primary-font;
	background-image: url('/images/music-bg4.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
